<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.domiworld.mapper.DomiWorldMapper">
  
  <select id="getAll" resultType="domiVO">
    SELECT * FROM DOMIWORLD_ROLE_TEST;
  </select>
  <select id="getOne" resultType="domiVO">
    SELECT * FROM DOMIWORLD_ROLE_TEST limit 1;
  </select>
  <insert id="insertDomiWorld" parameterType="domiVO">
    INSERT 
		INTO DOMIWORLD_ROLE_TEST 
	VALUES (,
		#{userId},
		#{userName},
		#{password},
		#{userEmail},
		now()
	);
  </insert>
</mapper>